RewriteEngine on
# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# RewriteCond %{HTTP:Authorization}  ^(.*)
# RewriteRule ^(.*)$ $1 [e=HTTP_AUTHORIZATION:%1] 

RewriteRule  ^request$  request.py    [END,QSA]
RewriteRule  ^home$     envs.py       [END,QSA]
RewriteRule  ^auth$     api/auth.py   [END,QSA]
RewriteRule  ^items$    api/items.py  [END,QSA]
RewriteRule  ^$         index.html    [END,QSA]
